.app-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  background-color: saddlebrown;
}

.app-textfield {
  width: 40%;
  height: 60%;
}

.app-grid-container {
  width: 40%;
  height: 60%;
  background-color: black;
}